<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114475683641-spq3odkjphl0nkujfesmifr91ik4k679.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114475683641-spq3odkjphl0nkujfesmifr91ik4k679</string>
	<key>API_KEY</key>
	<string>AIzaSyBk_bhVjAWQRyMoNOpZj5mPegh29uDCHUA</string>
	<key>GCM_SENDER_ID</key>
	<string>114475683641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.radcns.DanHaruProject</string>
	<key>PROJECT_ID</key>
	<string>danharu-97255</string>
	<key>STORAGE_BUCKET</key>
	<string>danharu-97255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114475683641:ios:0a8004257d4da68e6de2e8</string>
</dict>
</plist>